//? @context: dark

$color-context-dark: (
  container:     #0A0E0F,
  on-container:  #E0E7EB,
  surface:       hsl(200, 10%, 15%),
  on-surface:    #C2CFD6,
  alt-surface:   hsl(200, 10%, 25%),
  alt-on-surface:#A3B8C2,
  outline:       #394C56
);

