//? @context:primary
$color-context-primary: (
  surface:        #33bbff,
  on-surface:     #004466,
  alt-surface:    #47b4eb,
  alt-on-surface: #00334D,
  outline:        #00aaff80
);



//? @mode:dark
$color-context-primary-dark: (
  container:    #00111A,
  on-container: #CCEEFF,
);


//? @mode:light
$color-context-primary-light: (
  container:    #CCEEFF,
  on-container: #00111A,
);