@use '@core/config/layout/element/' as *;


//? --is-icon
/// For buttons that only has a icon, they are characterized by 
/// having a square shape.

//? usage:
/// button(class="button button--is-icon").

.button {
  &--is-icon {
    padding: 0;
    height: $element-height-default;
    width: $element-height-default;

    /// Adapting icon
    span  {width: 100%;height: 100%;}
  }
}