@use '@core/functions/spacing' as *;

@use '@core/mixins/flex' as *;
@use '@core/mixins/transition' as *;


//? @base
.menu {
  list-style: none;
  font-size: var(--fs-medium);
}




//? @modefier: --sub
/// a modefier for nested menu 
.menu {
  &--sub {
    font-size: var(--fs-normal);
    border-left: 1px solid var(--clr-surface);
    margin-left: space(3);
    padding-left: space(2);
  
    & .menu__item {
      a {
        gap: space(2);
      }
    }
  }
} 




//? @child: __item
/// Menu item element
.menu {
  &__item {
    a {
      color: inherit;
      text-decoration: none;
      display: block;
      padding: space(2);
      &:hover {
        color: var(--clr-alt-on-surface);
      }

      @include flex($align:center);
      gap: space(3);
      @include transition((color));
    }
  }
}


//? @child-modefier: __item--active
/// For active menu link.
.menu {
  &__item--active {
    a,
    a:hover {
      color: var(--clr-surface-primary);
    } 
  }
}


//? @child-modefier: __item--disabled
/// For disabled menu link
.menu {
  &__item--disabled {
    a,
    a:hover {
      color: var(--clr-on-container);
      opacity: .4;
      cursor: not-allowed;
    } 
  }
}



//? @child: __separator
.menu {
  &__separator {
    height: 1px;
    width: 100%;
    background-color: var(--clr-surface);
    display: block;
    margin: space(2) 0;
  }
}