@use '@core/functions/spacing' as *;

@use '@core/mixins/flex' as *;
@use '@core/mixins/transition' as *;


//? @base
.menu {
  list-style: none;
  font-size: var(--fs-medium);
}


//? @child: __item
/// Menu item element
.menu {
  &__item {
    a {
      color: inherit;
      text-decoration: none;
      display: block;
      padding: space(2);
      &:hover {
        color: var(--clr-alt-on-surface);
      }

      @include flex($align:center);
      gap: space(3);
      @include transition((color));
    }
  }
}

//? @child-modefier: __item--active
.menu {
  &__item--active {
    a,
    a:hover {
      color: var(--clr-surface-primary);
    } 
  }
}





//? @modefier: --sub
.menu {
  &--sub {
    font-size: var(--fs-normal);
    border-left: 1px solid var(--clr-surface);
    margin-left: space(3);
    padding-left: space(2);
  
    & .menu__item {
      a {
        gap: space(2);
      }
    }
  }
} 